<br><h1>Autores:  Pepe y Juan Manuel Rey Alvarez</h1>
<h1>Detalles de la pila:  En esta primera versión se usa Ruby on Rails y Sqlite3</h1>
<h1>Ejemplos:  En las próximas versiones se actualizará este punto a medida que se incorporen</h1>


<h1>Pasos para lanzar el contenedor:</h1>